  <%= tag(:input, type: "button", value: "+1", "phx-click": "add-golden-point", "phx-value-team": "a") %>
  <span>GP!</span>
  <%= tag(:input, type: "button", value: "+1", "phx-click": "add-golden-point", "phx-value-team": "b") %>
