/* This file is for your main application css. */

@import "./phoenix.css";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

:root {
  --ftc-red-color: #991b15;
  --ftc-white-color: #e9dfc0;
}

/********************************************/
/*************** MAIN STYLES ****************/
/********************************************/


html {
  background-color: var(--ftc-white-color);
}

body {
  margin: 0;
  background-color: white;
}

body > header {
  margin: 0;
  background-color: var(--ftc-white-color);
  border-bottom: 4px solid var(--ftc-red-color);
  height:60px;
}

body > header a {
  color: #666;
  font-weight: bold;
}

header #app-logo {
  color: black;
}

header #user-session {
  height: 60px;
  background-color: var(--ftc-red-color);
  float: right;
  padding: 5px;
  color: white;
}

header #user-session a {
  color: white;
}

header nav#main-menu {
  margin-top: 7px;
}


main {
  background-color: white;
}


.container {
  padding: 0 2.0rem 1rem;
  width: 90rem;
}


a#app-logo {
  margin: 2px;
}

div#user-session {
  text-align: right;
}

div#user-session h1 {
  font-size: 18px;
  margin-bottom: 2px;
}

nav#main-menu {
  position: relative;
  left: 0;
  width: 600px;
  height: 26px;
}

nav#main-menu ul {
  margin: 0;
}

nav#main-menu li {
  float: left;
  padding: 0 10px;
}

body > footer {
  background-color: var(--ftc-white-color);
  border-top: 4px solid var(--ftc-red-color);
}

body > footer div.container {
  padding: 20px 0;
}

img#fearthec-footer-logo {
  width: 170px;
  border-right: 1px solid #666;
  padding-right: 20px;
  padding: 10px 20px 10px 0px;
}

div#footer-tech-stacks {
  width: 158px;
  float: right;
  padding: 10px 0px 10px 20px;
  right: 0;
  top: 20px;
  border-left: 1px solid #666;
}

img#elixir-logo {
  max-width: 52%;
}



html#overlay-live,
html#overlay-live body,
html#overlay-live main {
  background-color: rgba(0, 0, 0, 0);
}

span.live-overlay-world-record-holder {
  position: absolute;
  top: 63px;
  left: 480px;
  background: rgba(10, 10, 10, 0.6);
  padding: 3px 7px 2px;
  border-radius: 0 14% 35% 0;
}

span.live-overlay-world-record {
  position: absolute;
  top: 64px;
  right: 320px;
  padding: 2px 4px;
  border-right: 1px solid
  lightgray;
  background-color: rgba(10, 10, 10, 0.6);
  border-radius: 0 0 0 35%;
  color:
  white;
}

span.live-overlay-map-name {
  position: absolute;
  right: 567px;
  padding: 2px 4px;
  top: 64px;
  background-color: rgba(10, 10, 10, 0.6);
  color:
  white;
  border-radius: 0 0 25% 25%;
}

/************** CREATE OVERLAY FORM ****************/

form#create-overlay {
  clear: both;
}

form#create-overlay label {
  float: left;
}

form#create-overlay label.tennis-mode-label {
  clear: both;
}

form#create-overlay select#match_overlay_settings_team_a_id,
form#create-overlay select#match_overlay_settings_team_b_id {
  width: 200px;
  height: 30px;
  padding-right: 28px;
}

form#create-overlay #match_overlay_settings_team_a_id {
  left: 25px;
}

form#create-overlay #match_overlay_settings_team_b_id {
  left: 436px;
}


label#team_a_selector .help-block {
  position: absolute;
  top: 105px;
  left: 70px;
}


label#team_b_selector .help-block {
  position: absolute;
  top: 105px;
  left: 480px;
}



form#create-overlay input,
form#create-overlay select {
  margin: 0;
  padding: 0;
  height: 22px;
  width: 22px;
  font-size: 14px;
}

form#create-overlay select {
  width: 36px;
}

form#create-overlay input.submatch-max-points-input {
  text-align: center;
}

/* #create-overlay-submatches-subform {
  position: absolute;
  top: 210px;
} */

#create-overlay-submatches-subform label,
#create-overlay-submatches-subform input.submatch-remover {
  height: 30px;
  margin-bottom: 10px;
  margin-right: 25px;
}

#create-overlay-submatches-subform input.submatch-remover {
  line-height: 30px;
}



div#create-overlay-form-controls {
  float: right;
  width: 110px;
  position: absolute;
  right: 0px;
  top: 10px;
}


div#create-overlay-form-controls input,
div#create-overlay-form-controls button  {
  width: 110px;
  height: 32px;
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 10px;
}

div#create-overlay-form-controls input#create-overlay-form-cancel-button {
  color: rgb(96, 108, 118);
  background-color: white;
}

form#create-overlay input.submatch-map-input {
  width: 80px;
}





/*************** LIVE OVERLAY CONTROLS *****************/

section#overlay-control-panel {
  position: absolute;
  top: 64px;
  left: 202px;
  width: 252px;
  z-index: 200;
}

section#overlay-control-panel .submatch-controls {
  width: 100%;
  clear: both;
  position: relative;
}

.submatch-map-name {
  width: 125px;
  position: absolute;
  left: 255px;
  white-space: nowrap;
}

section#overlay-control-panel input.activate-sm-button {
  position: absolute;
  left: -72px;
  height: 30px;
  width: 70px;
}

section#overlay-control-panel .team-a,
section#overlay-control-panel .team-b {
  position: relative;
  width: 50px;
  height: 32px;
}

section#overlay-control-panel .team-a {
  float: left;
}

section#overlay-control-panel .team-b {
  float: right;
}


section#overlay-control-panel input {
  margin: 0;
  width: 50px;
  line-height: 18px;
  font-size: 10px;
  padding: 0;
}

section#overlay-control-panel .add {
  height: 20px;
  top: -4px;
  position: relative;
}


section#overlay-control-panel .substract {
  height: 10px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: red;
  border-color: red;
}





img#overlay-foreground {
  z-index: 100;
  position: relative;
}

img#overlay-background {
  position: relative;
  top: -81px;
  z-index: 50;
}

#overlay-main-score {
  height: 46px;
  position: absolute;
  top: -50px;
  width: 96px;
  left: 30px;
}

#overlay-main-score div {
  height: 100%;
  width: 47px;
  position: absolute;
}

#overlay-main-score div.score-team-b {
  right: 0;
}

#overlay-main-score span.score {
  width: 100%;
  display: inline-block;
  font-size: 32px;
  line-height: 40px;
  top: -3px;
  position: relative;
}

#overlay-main-score .overall-score {
  font-size: 14px;
  width: 100%;
  position: relative;
  top: -27px;
}




#match_overlay_settings_team_a_id {
  position: absolute;
  left: 4px;
  top: 66px;
  width: 230px;
}

#match_overlay_settings_team_b_id {
  position: absolute;
  top: 66px;
  left: 406px;
  width: 230px;
}


div#team-logos {
  float: left;
  position: relative;
  top: -149px;
  left: 13px;
  height: 46px;
  overflow: hidden;
  width: 593px;
  z-index: 70;
}


div#team-logos div {
  height: 46px;
  width: 116px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 1px;
}

div#team-logos div#team-b-logo-container {
  left: 477px;
}


div#team-logos img {
  position: absolute;
  top: -25px;
  width: 100%;
}

div#team-logos span {
    position: absolute;
    font-size: 37px;
    font-weight: bold;
    color: #555;
    top: -5px;
}

#team-logos #team-a-logo {
}

#team-logos #team-a-shortname {
  left: 117px;
  width: 128px;
  text-align: center;
  color:
  white;
  text-shadow: 0 0 7px
  black;
}

#overlay-preview .team-color {
  height: 46px;
  position: absolute;
  width: 128px;
  top: 14px;
  z-index: 50;
}

#overlay-preview .team-a.team-color {
  left: 150px;
}

#overlay-preview .team-b.team-color {
  left: 382px;
}

div#team-logos img#team-b-logo {
}

#team-logos #team-b-shortname {
  right: 116px;
  width: 128px;
  text-align: center;
  color:
  white;
  text-shadow: 0 0 7px
  black;
}


#submatches-backgrounds {
  /* float: left; */
  position: relative;
  top: -145px;
  left: 230px;
  width: 156px
}

#submatches-backgrounds img {
  float: left;
  margin-top: -4px;
}


.submatch-bar {
  position: relative;
  float: left;
  height: 33px;
}

.submatch-bar .max-points {
  float: left;
  top: -2px;
  position: absolute;
  font-weight: bold;
  left: 75px;
  font-size: 14px;
}

.submatch-bar .players-per-team {
  float: left;
  top: 11px;
  position: absolute;
  font-weight: bold;
  left: 67px;
  font-size: 14px;
}


section#live-link {
  clear: both;
}

section#overlays-list {
  clear: both;
  padding-top: 85px;
}


section#tracker-layer {
  position: absolute;
  top: 64px;
  left: 252px;
  width: 152px;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 5px black;
  z-index: 150;
}

section div.submatch-points {
  height: 33px;
  margin-top: -2px;
}


section#tracker-layer span {
  display: inline-block;
  width: 76px;
  text-align: center;
}
