use Mix.Config

config :tm_scoreboard_overlay, TMSO.ExternalService.Maniaplanet,
  client_id: "",
  client_secret: ""


  # Configure your database
  config :tm_scoreboard_overlay, TMSO.Repo,

    username: "postgres",
    password: "postgres",
    database: "tmso_dev",
    port: "5432",
    hostname: "localhost",
    show_sensitive_data_on_connection_error: true,
    pool_size: 10
