<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TMSO · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="user-session">
          <%= live_render(@conn, TMSOWeb.UserSessionLive) %>
        </div>
        <a href="/" id="app-logo">
          Trackmania Stream Overlay
        </a>

        <%= if TMSOWeb.AuthView.user_logged_in? @conn do %>
          <nav id="main-menu">
            <ul>
              <li><a href="/overlays">My overlays</a></li>
              <li><a href="/create_overlay">Create an overlay</a></li>
            </ul>
          </nav>
        <% end %>
      </div>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
  <footer>
    <div class="container">
      <img id="fearthec-footer-logo" src="https://fearthec-documentations.s3.eu-west-3.amazonaws.com/images/ftc-logo.png" />

      <div id="footer-tech-stacks">
          <img src="images/official_Elixir_logo.png" id="elixir-logo" />
        <img src="images/phoenix-framework.png" id="phoenix-logo" />
      </div>
    </div>
  </footer>
</html>
