<% alias Plug.Conn
alias TMSO.Session.UserSession %>
<% IO.inspect TMSO.Session.AgentStore.get(@user_session["current_user"]) %>
<nav role="navigation">
  <%= case TMSO.Session.AgentStore.get(@user_session["current_user"]) do
    %UserSession{nickname: nickname} ->
      render TMSOWeb.AuthView, "logout.html", nickname: nickname
    _ ->
      render TMSOWeb.AuthView, "login.html"
  end %>
</nav>
